In [1]:
from sqlalchemy import create_engine
import pandas as pd
import pypyodbc as po

In [2]:
SERVER = 'localhost\SQLEXPRESS'
DATABASE = 'VentasDM'
DRIVER = 'SQL Server Native Client 11.0'
USERNAME = ''
PASSWORD = ''
DATABASE_CONNECTION = f'mssql://{USERNAME}:{PASSWORD}@{SERVER}/{DATABASE}?driver={DRIVER}'

In [4]:
engine = create_engine(DATABASE_CONNECTION)
connection = engine.connect()

In [7]:
data = pd.read_sql_query("select * from [VentasDM].[dbo].[Dim_Producto]", connection)

In [8]:
data

,Producto_Key,IdProducto,IdSubFamilia,IdFamilia,IdCategoria,IdRubro,IdSeccion,NombreProducto,NombreSubFamilia,NombreFamilia,NombreCategoria,NombreRubro,NombreSeccion
0,13,1,1,1,1,1,4,Gloria hierro y calcio,Gloria 5 años,Gloria,yogurt,Lacteos,Comestibles
1,14,2,2,2,1,1,4,Jamonada de 13 tajadas,Jamonada de pollo,Laive,yogurt,Lacteos,Comestibles
2,15,3,3,3,3,4,3,Lorito Pequeño,Lorito Triple Raya,Loro,cuaderno,Escolares,Utiles
3,16,4,4,4,5,2,4,Cifrut Piña Granadilla,Cifrut,KR,gaseosa,Bebidas,Comestibles
4,17,5,4,4,5,2,4,Cifrut two,Cifrut,KR,gaseosa,Bebidas,Comestibles
5,18,5,4,4,5,2,4,Cifrut two,Cifrut,KR,gaseosa,Bebidas,Comestibles
6,19,6,4,4,5,2,4,Cifrut three,Cifrut,KR,gaseosa,Bebidas,Comestibles
7,20,7,2,2,1,1,4,gatito fox,Jamonada de pollo,Laive,yogurt,Lacteos,Comestibles